---
interface Props {
  title: string;
  subtitle: string;
  tags: string;
  message: string;
  logo: string;
  skils: string[];
}

const { title, subtitle, tags, message, logo, skils } = Astro.props;
---

<section class="flex space-x-4 h-[1000px]">
  <article class="mt-2 w-12 h-14 rounded-lg dark:bg-slate-50 bg-slate-200">
    <img src=`${logo}` alt="logo-uni" class="w-12 h-14 object-cover rounded-lg" />
  </article>
  <article class="w-full h-full">
    <h3 class="basic-title">
      {title}
    </h3>
    <time class="basic-sub-title-list">{subtitle}</time>
    <p class="basic-container-tag">
      <span class="basic-tag-blue">{tags}</span>
    </p>
    <div class="basic-text">
      {message}
    </div>
    <div class="basic-container-tag">
      {skils.map((skil) => <span class="basic-tag-indigo">{skil}</span>)}
    </div>
  </article>
</section>
