---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/b646cce0fb.js" crossorigin="anonymous"></script>
	
		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />
	
		<!-- Global Metadata -->
		<link rel="icon" href="/favicon.png" />
		<link rel="apple-touch-icon" href="/assets/icons/images/icon/192x192.png" />
		<!-- <link rel="manifest" href="/assets/icons/manifest.webmanifest" /> -->
		<meta name="google" content="notranslate" />
		<link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/assets/icons/android-icon-192x192.png"
		/>
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png" />
		<meta name="msapplication-TileColor" content="#2b5797" />
		<meta name="theme-color" content="#ffffff" />
	
		<!-- Open Graph / Facebook -->
		<meta property="og:locale" content="es_ES" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://raw.githubusercontent.com/luis122448/animationland-astro/main/public/assets/icons/ms-icon-310x310.png" />
	
		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="https://raw.githubusercontent.com/luis122448/animationland-astro/main/public/assets/icons/ms-icon-310x310.png" />
		<meta name="twitter:image:alt" content={title} />
		<meta name="twitter:site" content="@luis122448" />
		<meta name="twitter:creator" content="@luis122448" />

		<!-- LinkedIn -->
		<meta property="linkedin:site" content={title} />
		<meta property="linkedin:title" content={title} />
		<meta property="linkedin:description" content={description} />
		<meta property="linkedin:image" content="https://raw.githubusercontent.com/luis122448/animationland-astro/main/public/assets/icons/ms-icon-310x310.png" />
	</head>
	<body class="bg-slate-50 dark:bg-slate-900 flex justify-center w-full h-full">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	html,
	body {
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	}

	.body-container {
		width: 100%;
		height: calc(100% - 200px);
		overflow-x: hidden;
		overflow-y: auto;
	}

</style>
